
*.sln
PS4 Emoji/About.Designer.vb
PS4 Emoji/About.resx
PS4 Emoji/About.vb
PS4 Emoji/App.config
PS4 Emoji/bin/Debug/emoji/custom/PUI/Sce.PlayStation.PUI.rco
PS4 Emoji/bin/Debug/emoji/custom/PUIBlue/Sce.PlayStation.PUI.rco
PS4 Emoji/bin/Debug/emoji/custom/PUIG/Sce.PlayStation.PUI.rco
PS4 Emoji/bin/Debug/emoji/custom/PUIY/Sce.PlayStation.PUI.rco
PS4 Emoji/bin/Debug/emoji/custom/TopMenu/Sce.Vsh.ShellUI.QuickMenu.rco
PS4 Emoji/bin/Debug/emoji/custom/TopMenu/Sce.Vsh.ShellUI.Settings.SettingsRoot.rco
PS4 Emoji/bin/Debug/emoji/custom/TopMenu/Sce.Vsh.ShellUI.TopMenu.rco
PS4 Emoji/bin/Debug/emoji/custom/UI2/Sce.PlayStation.HighLevel.UI2
PS4 Emoji/bin/Debug/emoji/custom/UI2Blue/Sce.PlayStation.HighLevel.UI2.rco
PS4 Emoji/bin/Debug/emoji/custom/UI2G/Sce.PlayStation.HighLevel.UI2.rco
PS4 Emoji/bin/Debug/emoji/custom/UI2Y/Sce.PlayStation.HighLevel.UI2.rco
PS4 Emoji/bin/Debug/emoji/original/PUI/Sce.PlayStation.PUI.rco
PS4 Emoji/bin/Debug/emoji/original/TopMenu/Sce.Vsh.ShellUI.QuickMenu.rco
PS4 Emoji/bin/Debug/emoji/original/TopMenu/Sce.Vsh.ShellUI.Settings.SettingsRoot.rco
PS4 Emoji/bin/Debug/emoji/original/TopMenu/Sce.Vsh.ShellUI.TopMenu.rco
PS4 Emoji/bin/Debug/emoji/original/UI2/Sce.PlayStation.HighLevel.UI2.rco
PS4 Emoji/bin/Debug/PS4 Emoji.exe
PS4 Emoji/bin/Debug/PS4 Emoji.exe.config
PS4 Emoji/bin/Debug/PS4 Emoji.pdb
PS4 Emoji/bin/Debug/PS4 Emoji.xml
PS4 Emoji/bin/Debug/Readme.txt
PS4 Emoji/Form1.Designer.vb
PS4 Emoji/Form1.resx
PS4 Emoji/Form1.vb
PS4 Emoji/FTP.vb
PS4 Emoji/My Project/app.manifest
PS4 Emoji/My Project/Application.Designer.vb
PS4 Emoji/My Project/Application.myapp
PS4 Emoji/My Project/AssemblyInfo.vb
PS4 Emoji/My Project/Resources.Designer.vb
PS4 Emoji/My Project/Resources.resx
PS4 Emoji/My Project/Settings.Designer.vb
PS4 Emoji/My Project/Settings.settings
PS4 Emoji/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.vb
PS4 Emoji/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PS4 Emoji/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PS4 Emoji/obj/Debug/PS4 Emoji.exe
PS4 Emoji/obj/Debug/PS4 Emoji.pdb
PS4 Emoji/obj/Debug/PS4 Emoji.vbproj.AssemblyReference.cache
PS4 Emoji/obj/Debug/PS4 Emoji.vbproj.CoreCompileInputs.cache
PS4 Emoji/obj/Debug/PS4 Emoji.vbproj.FileListAbsolute.txt
PS4 Emoji/obj/Debug/PS4 Emoji.vbproj.GenerateResource.cache
PS4 Emoji/obj/Debug/PS4 Emoji.xml
PS4 Emoji/obj/Debug/PS4_Emoji.About.resources
PS4 Emoji/obj/Debug/PS4_Emoji.Form1.resources
PS4 Emoji/obj/Debug/PS4_Emoji.Resources.resources
PS4 Emoji/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
PS4 Emoji/PS4 Emoji.vbproj
PS4 Emoji/PS4 Emoji.vbproj.user
PS4 Emoji/ps4emoji.ico
PS4 Emoji/Resources/ps4emoji002f.png
PS4 Emoji/Resources/ps4emoji0f.png
PS4 Emoji/Resources/ps4emoji0G.png
PS4 Emoji/Resources/ps4emoji0y0f.png
PS4 Emoji/Resources/ps4emojibluef.png
PS4 Emoji/Resources/ps4emojinormal.png
PS4 Emoji/Settings.vb
